Repository decaf-ts/injectable-decorators: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

install:
  stage: dependencies
  cache:
  - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
  script:
  - npm ci --cache .npm --prefer-offline
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

pages:
  stage: deploy
  needs:
  - tests
  cache:
  - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
  - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
    paths:
    - workdocs/coverage/
  script:
  - npm run docs
  - mv docs public
  artifacts:
    paths:
    - public
  interruptible: true
  ...

DECAF-178 new metadata and decoration-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-178 new metadata and decoration-no-ci - after release preparation
  package-lock.json
Due: install

DECAF-178 - remove obsolete context types, update repository operation handlers, and restructure `.codex` prompts
  .codex/AGENTS.md
  .codex/prompts/bulk-docs.md
  .codex/prompts/bulk-tests.md
  .codex/prompts/class.md
  .codex/prompts/constant.md
  .codex/prompts/decorator.md
  .codex/prompts/doc.md
  .codex/prompts/file.md
  .codex/prompts/function.md
  .codex/prompts/interface.md
  .codex/prompts/module.md
  .codex/prompts/release-notes.md
  .codex/prompts/repo-setup.md
  .codex/prompts/update-readme.md
  package-lock.json
  package.json
  src/decorators.ts
  tests/unit/compatibility.test.ts
Due: install

DECAF-178 minor fix-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-178 minor fix-no-ci - after release preparation
  README.md
  src/decorators.ts
  workdocs/reports/jest.coverage.config.ts
Due: pages

DECAF-178 - Refactor context handling and logging; replace Repository.table with Model.tableName; update tests and adapters accordingly
  package.json
Due: none

patch - DECAF-178 better generics and context handling-no-ci - after release preparation
  package-lock.json
Due: install

DECAF-178 better generics and context handling-no-ci
  package-lock.json
  package.json
Due: install

DECAF-178 - remove unused test files and refactor imports to clean up test suite
  workdocs/1-Header.md
  workdocs/5-HowToUse.md
Due: pages

patch - DECAF-204 constr fix-no-ci - after release preparation
  README.md
  src/decorators.ts
  workdocs/reports/jest.coverage.config.ts
Due: pages

DECAF-204 constr fix-no-ci
  package-lock.json
  package.json
Due: install

DECAF-206 - Add `workdocs/assets/slogans.json` to npm package files across multiple projects
  .npmignore
  package.json
Due: none

DECAF-206 deps-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-206 deps-no-ci - after release preparation
  package-lock.json
Due: install

DECAF-206 removes unused types-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-206 removes unused types-no-ci - after release preparation
  src/decorators.ts
  src/types.ts
Due: none

DECAF-206 - enhance collection extraction with mirroring support, refine private/shared collections handling, and improve CLI functionalities
  package-lock.json
Due: install

DECAF-206 better and uglier @prop-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-206 better and uglier @prop-no-ci - after release preparation
  package-lock.json
Due: install

patch - DECAF-206 circular dependencies-no-ci - after release preparation
  package-lock.json
Due: install

DECAF-206 circular dependencies-no-ci
  package-lock.json
  package.json
Due: install

patch - docs-no-ci - after release preparation
  .gitignore
  README.md
  package-lock.json
  workdocs/1-Header.md
  workdocs/5-HowToUse.md
  workdocs/ai/focus-areas.md
  workdocs/reports/CHANGELOG.md
  workdocs/reports/DEPENDENCIES.md
  workdocs/reports/RELEASE_NOTES.md
Due: install, pages

docs-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-213 deps and vulns-no-ci - after release preparation
  .gitignore
  jest.config.cjs
  package-lock.json
  package.json
  workdocs/reports/jest.coverage.config.cjs
Due: install, pages

DECAF-213 deps and vulns-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-213 deps and vulns-no-ci - after release preparation
  package-lock.json
Due: install

minor - DECAF-734 build mode-no-ci - after release preparation
  package-lock.json
  package.json
  tsconfig.json
Due: install

DECAF-734 build mode-no-ci
  package-lock.json
  package.json
Due: install

DECAF-734 updates-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-734 updates-no-ci - after release preparation
  package-lock.json
Due: install

patch - DECAF-734 add sdeeffects-no-ci - after release preparation
  package-lock.json
  package.json
Due: install

DECAF-734 add sdeeffects-no-ci
  package-lock.json
  package.json
Due: install

DECAF-734 cjs stuff-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-734 cjs stuff-no-ci - after release preparation
  package-lock.json
Due: install

DECAF-734 split types for nodenext compat-no-ci
  package-lock.json
  package.json
Due: install

Path conditions:
  install: any of: package-lock.json
  pages: any of: workdocs/**/*
