Repository decaf-ts/injectable-decorators: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

install:
  stage: dependencies
  cache:
  - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
  script:
  - npm ci --cache .npm --prefer-offline
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

pages:
  stage: deploy
  needs:
  - tests
  cache:
  - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
  - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
    paths:
    - workdocs/coverage/
  script:
  - npm run docs
  - mv docs public
  artifacts:
    paths:
    - public
  interruptible: true
  ...

patch for release testing purposes-no-ci
  package-lock.json
  package.json
Due: install

for release testing purposes-no-ci
  package-lock.json
  package.json
Due: install

DECAF-90 confluence update
  workdocs/spec/Injectable Decorators Module.md
Due: pages

DECAF-90 Dynamic form generation/validation
  gulpfile.js
Due: none

DECAF-90 Dynamic form generation/validation
  package-lock.json
  package.json
Due: install

DECAF-90 changes licence to LGPL
  LICENSE.md
  package.json
Due: none

patch - updates license-no-ci - before release preparation
  package-lock.json
Due: install

updates license-no-ci
  package-lock.json
  package.json
Due: install

DECAF-90 - updates gulp build to stop index bug
  gulpfile.js
Due: none

LGPL release-no-ci
  package-lock.json
  package.json
Due: install

patch LGPL release-no-ci
  package-lock.json
  package.json
Due: install

DECAF-111 updates to all repos for template sync
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/prettier.xml
  .idea/runConfigurations/All Tests.run.xml
  .idea/runConfigurations/All_Tests.xml
  .idea/runConfigurations/Bundling_Tests.run.xml
  .idea/runConfigurations/Integration_Tests.run.xml
  .idea/runConfigurations/Unit Tests.run.xml
  .idea/runConfigurations/build.run.xml
  .idea/runConfigurations/build_prod.run.xml
  .idea/runConfigurations/coverage.run.xml
  .idea/runConfigurations/docs.run.xml
  .idea/runConfigurations/drawings.run.xml
  .idea/runConfigurations/flash-forward.run.xml
  .idea/runConfigurations/lint-fix.run.xml
  .idea/runConfigurations/release.run.xml
  .idea/runConfigurations/test_circular.run.xml
  .idea/runConfigurations/uml.run.xml
  .idea/runConfigurations/update-scripts.run.xml
  .idea/webResources.xml
  bin/update-scripts.cjs
Due: none

DECAF-111 updates to all repos for template sync
  bin/tag-release.cjs
  bin/update-scripts.cjs
Due: none

DECAF-111 new release scripts and docs
  package-lock.json
  package.json
Due: install

patch - DECAF-111 new release scripts and docs - before release preparation
  workdocs/resources/.gitkeep
Due: pages

patch - DECAF-111 new release scripts and docs - before release preparation
  .github/workflows/jest-test.yaml
  .github/workflows/nodejs-build.yaml
  .github/workflows/nodejs-update-documentation.yaml
  .github/workflows/release-alpha-on-tag.yaml
Due: none

DECAF-111 updates to all repos for template sync
  .github/workflows/pages.yaml
Due: none

now with custom build scripts
  package-lock.json
  package.json
Due: install

minor - now with custom build scripts - before release preparation
  Dockerfile
  bin/tag-release.cjs
  bin/update-scripts.cjs
  gulpfile.js
  package-lock.json
  package.json
  tests/bundling/bundling.test.ts
  tsconfig.json
  workdocs/reports/jest.coverage.config.ts
Due: install, pages

DECAF-111 updates to all repos for template sync
  tests/bundling/bundling.test.ts
  workdocs/4-Description.md
Due: pages

DECAF-111 updates to all repos for template sync. imports styles, for-fabric and for-nest
  package.json
Due: none

DECAF-123 frist commits
  package-lock.json
Due: install

DECAF-125 decorator extensions
  package-lock.json
  tsconfig.json
Due: install

DECAF-126 finished
  tsconfig.json
Due: none

patch - DECAF-123 updates for fabric compatibility - before release preparation
  README.md
  package-lock.json
Due: install

DECAF-123 updates for fabric compatibility
  package-lock.json
  package.json
Due: install

DECAF-17 documentation
  src/Injectables.ts
  src/constants.ts
  src/decorators.ts
  src/index.ts
  src/registry.ts
  src/utils.ts
  workdocs/1-Header.md
  workdocs/4-Description.md
  workdocs/5-HowToUse.md
Due: pages

Path conditions:
  install: any of: package-lock.json
  pages: any of: workdocs/**/*
