Repository decaf-ts/injectable-decorators: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

install:
  stage: dependencies
  cache:
  - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
  script:
  - npm ci --cache .npm --prefer-offline
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

pages:
  stage: deploy
  needs:
  - tests
  cache:
  - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
  - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
    paths:
    - workdocs/coverage/
  script:
  - npm run docs
  - mv docs public
  artifacts:
    paths:
    - public
  interruptible: true
  ...

DECAF-17 documentation
  README.md
Due: none

DECAF-17 - uopdate
  LICENSE.md
  package.json
Due: none

Adicionando arquivo CODEOWNERS
  .github/CODEOWNERS
Due: none

DECAF-137
  .github/workflows/jest-coverage.yaml
  .github/workflows/nodejs-build-prod.yaml
  .github/workflows/pages.yaml
  .github/workflows/publish-on-release.yaml
  .github/workflows/release-on-tag.yaml
Due: none

DECAF-156 Update workflows: tag matching, Node.js version, and caching
  .github/workflows/release-on-tag.yaml
Due: none

DECAF-156 Update workflows: tag matching, Node.js version, and caching
  .github/workflows/release-on-merge-pr.yml
Due: none

DECAF-158 Update `decorator-validation` logic and dependencies
  package-lock.json
Due: install

DECAF-156 Update Git remote URL in release workflows
  .github/workflows/release-on-merge-pr.yml
Due: none

DECAF-156 update deps
  package-lock.json
Due: install

DECAF-156 (#3)
  .github/workflows/release-on-merge-pr.yml
  .github/workflows/release-on-tag.yaml
  package-lock.json
Due: install

DECAF-161 - simplify constructor logic in injectable decorators
  src/decorators.ts
Due: none

DECAF-161 - simplify constructor logic in injectable decorators (#4)
  src/decorators.ts
Due: none

DECAF-179 - refactor injectable handling and introduce type definitions
  src/Injectables.ts
  src/decorators.ts
  src/index.ts
  src/registry.ts
  src/types.ts
  src/utils.ts
  tests/unit/injectables.test.ts
Due: none

DECAF-179 - refactor injectable handling and introduce type definitions
  package-lock.json
  workdocs/reports/jest.coverage.config.ts
Due: install, pages

DECAF-179 Refactor injectable handling and add type definitions (#5)
  package-lock.json
  src/Injectables.ts
  src/decorators.ts
  src/index.ts
  src/registry.ts
  src/types.ts
  src/utils.ts
  tests/unit/injectables.test.ts
  workdocs/reports/jest.coverage.config.ts
Due: install, pages

DECAF-172 - add support for overloaded injectable decorator
  src/decorators.ts
Due: none

DECAF-172 - add support for overloaded injectable decorator (#6)
  src/decorators.ts
Due: none

DECAF-172 - add support for class-based injectable category
  src/decorators.ts
  tests/unit/injectables.test.ts
Due: none

DECAF-172 - add support for class-based injectable category (#7)
  src/decorators.ts
  tests/unit/injectables.test.ts
Due: none

DECAF-171 - update inject decorator to support additional arguments
  src/decorators.ts
Due: none

DECAF-171 - update inject decorator to support additional arguments (#8)
  src/decorators.ts
Due: none

DECAF-184 - enhance decorators for singleton and on-demand support
  src/constants.ts
  src/decorators.ts
  src/registry.ts
  src/utils.ts
  tests/unit/injectables.test.ts
Due: none

DECAF-184 - enhance decorators with improved overloads and updated type handling for injection annotations
  src/constants.ts
  src/decorators.ts
  src/utils.ts
  tests/unit/injectables.test.ts
Due: none

DECAF-184 - add unit test for registry changes and improve fresh instance injection setup
  tests/unit/injectables.test.ts
Due: none

DECAF-1 "Add `prepare-pr` script and update `CODEOWNERS`, documentation links, and license references across repositories."
  .github/CODEOWNERS
  package.json
  src/Injectables.ts
  src/constants.ts
  src/decorators.ts
  src/types.ts
  workdocs/5-HowToUse.md
  workdocs/tutorials/For Developers.md
Due: pages

DECAF-184 Remove outdated coverage badges and fix broken tutorial links in documentation
  README.md
  workdocs/2-Badges.md
Due: pages

DECAF-184 Update "HowToUse" documentation with revised examples, streamlined sections, and corrected links
  workdocs/5-HowToUse.md
Due: pages

DECAF-184 (#9)
  README.md
  workdocs/2-Badges.md
  workdocs/5-HowToUse.md
Due: pages

DECAF-184 Update "HowToUse" documentation with revised examples, streamlined sections, and corrected links
  README.md
  src/decorators.ts
Due: none

DECAF-184 (#10)
  README.md
  src/decorators.ts
Due: none

DECAF-178 add injectable and inject decorators with metadata handling
  package-lock.json
  package.json
  src/Metadata.ts
  src/decorators.ts
  src/index.ts
  src/overrides.ts
Due: install

DECAF-178 add injectable and inject decorators with metadata handling
  src/decorators.ts
Due: none

DECAF-178 add documentation guidelines for repository structure, testing, and coding standards
  .codex/AGENTS.md
  .codex/prompts/bulk-docs.md
  .codex/prompts/bulk-tests.md
  .codex/prompts/class.md
  .codex/prompts/constant.md
  .codex/prompts/decorator.md
  .codex/prompts/doc.md
  .codex/prompts/file.md
  .codex/prompts/function.md
  .codex/prompts/interface.md
  .codex/prompts/module.md
  .codex/prompts/release-notes.md
  .codex/prompts/repo-setup.md
  .codex/prompts/update-readme.md
  package-lock.json
  package.json
Due: install

DECAF-178 remove unused import from decorators.ts
  src/decorators.ts
  tests/bundling/bundling.test.ts
Due: none

DECAF-178 remove unused import from decorators.ts
  workdocs/jsdocs.json
  workdocs/reports/jest.coverage.config.ts
Due: pages

DECAF-178 (#11)
  .codex/AGENTS.md
  .codex/prompts/bulk-docs.md
  .codex/prompts/bulk-tests.md
  .codex/prompts/class.md
  .codex/prompts/constant.md
  .codex/prompts/decorator.md
  .codex/prompts/doc.md
  .codex/prompts/file.md
  .codex/prompts/function.md
  .codex/prompts/interface.md
  .codex/prompts/module.md
  .codex/prompts/release-notes.md
  .codex/prompts/repo-setup.md
  .codex/prompts/update-readme.md
  package-lock.json
  package.json
  src/Metadata.ts
  src/decorators.ts
  src/index.ts
  src/overrides.ts
  tests/bundling/bundling.test.ts
  workdocs/jsdocs.json
  workdocs/reports/jest.coverage.config.ts
Due: install, pages

DECAF-178 update author information in package.json and LICENSE.md to include contributors
  LICENSE.md
  package.json
Due: none

DECAF-178 - remove unused tests and utility files from the project
  .codex/AGENTS.md
  package-lock.json
  package.json
  src/decorators.ts
Due: install

DECAF-178 updates shared-no-ci
  package-lock.json
  package.json
Due: install

Path conditions:
  install: any of: package-lock.json
  pages: any of: workdocs/**/*
