Repository decaf-ts/injectable-decorators: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

.gitlab-ci.yml:

variables:
  FF_USE_FASTZIP: 1
  CACHE_COMPRESSION_LEVEL: "fastest"
  ARTIFACT_COMPRESSION_LEVEL: "fast"
  CACHE_REQUEST_TIMEOUT: 5

default:
  image: node:16
  before_script:
    - |
      if [[ ! -f package.json ]]; then
        echo "No package.json found! A package.json file is required to publish a package to GitLab's NPM registry."
        echo 'For more information, see https://docs.gitlab.com/ee/user/packages/npm_registry/#creating-a-project'
        exit 1
      fi
    - NPM_PACKAGE_NAME=$(node -p "require('./package.json').name")
    - NPM_PACKAGE_VERSION=$(node -p "require('./package.json').version")
    - npm ci --cache .npm --prefer-offline

stages:
  - dependencies
  - build
  - test
  - deploy

install:
  stage: dependencies
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
  script:
    - npm ci --cache .npm --prefer-offline
  interruptible: true
  only:
    changes:
      - package-lock.json
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

build:
  stage: build
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
  script:
    - npm run build:prod
  interruptible: true

tests:
  stage: test
  needs: ["build"]
  script:
    - npm run coverage
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
    - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - workdocs/coverage/
  artifacts:
    when: always
    reports:
      junit:
        - workdocs/coverage/junit-report.xml
  coverage: '/^Statements.*?:.*?(\d+\.\d+)%/'
  interruptible: true

npm-deploy:
  stage: deploy
  needs: ["tests", "build"]
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
  script:
    - echo "Attempting to publish package ${NPM_PACKAGE_NAME} version ${NPM_PACKAGE_VERSION} to GitLab's NPM registry."
    - echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" > .npmrc
    - npm publish
  only:
    - tags
  except:
    - branches

pages:
  stage: deploy
  needs: ["tests"]
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
    - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - workdocs/coverage/
  script:
    - npm run docs
    - mv docs public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - workdocs/**/*
    - if: '$CI_COMMIT_TAG'
    - when: manual
  interruptible: true
  allow_failure: true

refs #1 - update
  package.json
Due: none

after release preparation
  package-lock.json
Due: install

1.0.0
  package-lock.json
  package.json
Due: install

refs #1 - update
  .github/workflows/nodejs-build.yaml
  .github/workflows/nodejs-update-documentation.yaml
Due: none

1.0.1
  package-lock.json
  package.json
Due: install

1.0.2
  package-lock.json
  package.json
Due: install

refs #1 - update
  package-lock.json
  package.json
  src/registry.ts
  src/utils.ts
Due: install

1.0.3
  package-lock.json
  package.json
Due: install

refs #1 - update
  gulpfile.js
  jest.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: install

after release preparation
  bin/tag-release.sh
Due: none

1.1.0
  package-lock.json
  package.json
Due: install

refs #1 - update
  .eslintrc.cjs
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/jest-coverage.yaml
  .github/workflows/jest-test.yaml
  .github/workflows/nodejs-build.yaml
  .github/workflows/nodejs-update-documentation.yaml
  .github/workflows/pages.yaml
  .github/workflows/publish-on-release.yaml
  .github/workflows/release-on-tag.yaml
  .gitignore
  .gitlab-ci.yml
  .npmrc
  .prettier.config.cjs
  bin/tag-release.sh
  gulpfile.js
  package-lock.json
  package.json
  src/Injectables.ts
  src/constants.ts
  src/decorators.ts
  src/index.ts
  src/registry.ts
  src/utils.ts
  tests/unit/injectables.test.ts
  tsconfig.json
Due: install

refs #1 - update
  workdocs/1-Banner.md
  workdocs/1-Header.md
  workdocs/2-Intro.md
  workdocs/3-1-RepoBadges.md
  workdocs/3-2-RepoStructure.md
  workdocs/3-Badges.md
  workdocs/3-Repo.md
  workdocs/4-1-LanguagesInBadges.md
  workdocs/4-Description.md
  workdocs/4-Languages.md
  workdocs/5-Considerations.md
  workdocs/6-Related.md
  workdocs/7-Social.md
  workdocs/8-RepoStructure.md
  workdocs/99-Footer.md
  workdocs/Readme.md
  workdocs/assets/Banner.png
  workdocs/assets/banner.png
  workdocs/assets/readme.md
  workdocs/tutorials/.gitlock
  workdocs/tutorials/00-Install.md
  workdocs/tutorials/Contributing.md
  workdocs/tutorials/Scripts.md
  workdocs/tutorials/Setup.md
  workdocs/tutorials/Testing.md
Due: pages

refs #1 - readme
  README.md
Due: none

refactors injectables-no-ci
  package-lock.json
  package.json
Due: install

refs #1 - update
  src/decorators.ts
  src/registry.ts
Due: none

adds inj cb-no-ci
  package-lock.json
  package.json
Due: install

refs #1 - adds reset functionality
  src/Injectables.ts
Due: none

adds reset functionality-no-ci
  package-lock.json
  package.json
Due: install

after release preparation
  package-lock.json
  package.json
  src/index.ts
Due: install

refs #1 - adds bundling tests
  tests/unit/bundling.test.ts
Due: none

adds bundling test-no-ci
  package-lock.json
  package.json
Due: install

refs #1 - fixes pkg
  package.json
Due: none

fixes pkg-no-ci
  package-lock.json
  package.json
Due: install

refs #1 - update
  tests/bundling/bundling.test.ts
Due: none

refs #1 - updates all deps
  .eslintrc.cjs
  .prettier.config.cjs
  .prettierrc
  README.md
  bin/tag-release.sh
  eslint.config.js
  gulpfile.js
  jsdocs.json
  package-lock.json
  package.json
  tsconfig.json
  workdocs/3-Badges.md
  workdocs/badges/badge-branches.svg
  workdocs/badges/badge-functions.svg
  workdocs/badges/badge-lines.svg
  workdocs/badges/badge-statements.svg
Due: install, pages

refs #1 - update
  package-lock.json
  package.json
Due: install

minor - deps update-no-ci - before release preparation
  src/registry.ts
Due: none

deps update-no-ci
  package-lock.json
  package.json
Due: install

fix-no-ci
  package-lock.json
  package.json
Due: install

patch - fix-no-ci - before release preparation
  package-lock.json
  src/decorators.ts
  tsconfig.json
Due: install

DECAF-80 adds sny ignrefile
  .snyk
Due: none

DECAF-86 CQ and Vulnerability review
  src/Injectables.ts
Due: none

DECAF-86 better CQ and vuln CI
  .github/workflows/codeql-analysis.yml
  .github/workflows/snyk-analysis.yaml
Due: none

DECAF-104 overrides for dependencies
  package-lock.json
  package.json
Due: install

DECAF-90 code optimization and documentation
  .github/workflows/pages.yaml
Due: none

patch - patch for release testing purposes-no-ci - before release preparation
  package-lock.json
Due: install

patch for release testing purposes-no-ci
  package-lock.json
  package.json
Due: install
