Repository decaf-ts/injectable-decorators: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

.gitlab-ci.yml:

variables:
  FF_USE_FASTZIP: 1
  CACHE_COMPRESSION_LEVEL: "fastest"
  ARTIFACT_COMPRESSION_LEVEL: "fast"
  CACHE_REQUEST_TIMEOUT: 5

default:
  image: node:16
  before_script:
    - |
      if [[ ! -f package.json ]]; then
        echo "No package.json found! A package.json file is required to publish a package to GitLab's NPM registry."
        echo 'For more information, see https://docs.gitlab.com/ee/user/packages/npm_registry/#creating-a-project'
        exit 1
      fi
    - NPM_PACKAGE_NAME=$(node -p "require('./package.json').name")
    - NPM_PACKAGE_VERSION=$(node -p "require('./package.json').version")
    - npm ci --cache .npm --prefer-offline

stages:
  - dependencies
  - build
  - test
  - deploy

install:
  stage: dependencies
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
  script:
    - npm ci --cache .npm --prefer-offline
  interruptible: true
  only:
    changes:
      - package-lock.json
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

build:
  stage: build
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
  script:
    - npm run build:prod
  interruptible: true

tests:
  stage: test
  needs: ["build"]
  script:
    - npm run coverage
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
    - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - workdocs/coverage/
  artifacts:
    when: always
    reports:
      junit:
        - workdocs/coverage/junit-report.xml
  coverage: '/^Statements.*?:.*?(\d+\.\d+)%/'
  interruptible: true

npm-deploy:
  stage: deploy
  needs: ["tests", "build"]
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
  script:
    - echo "Attempting to publish package ${NPM_PACKAGE_NAME} version ${NPM_PACKAGE_VERSION} to GitLab's NPM registry."
    - echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" > .npmrc
    - npm publish
  only:
    - tags
  except:
    - branches

pages:
  stage: deploy
  needs: ["tests"]
  cache:
    - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
    - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - workdocs/coverage/
  script:
    - npm run docs
    - mv docs public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - workdocs/**/*
    - if: '$CI_COMMIT_TAG'
    - when: manual
  interruptible: true
  allow_failure: true

patch - DECAF-178 updates shared-no-ci - before release preparation
  .npmignore
  README.md
  package-lock.json
  src/decorators.ts
  src/overrides.ts
Due: install

DECAF-178 updates shared-no-ci
  package-lock.json
  package.json
Due: install

patch - DECAF-178 updates shared-no-ci - before release preparation
  package-lock.json
  package.json
Due: install

DECAF-178 - allow extending default flavour with overridable decorators and refactor Decoration logic - Using AI
  bin/tag-release.sh
Due: none

patch - DECAF-178 deps update - after release preparation
  package-lock.json
Due: install

DECAF-178 deps update
  package-lock.json
  package.json
Due: install

DECAF-178 - allow extending default flavour with overridable decorators and refactor Decoration logic - Using AI
  workdocs/99-Footer.md
Due: pages

`DECAF-178 - update logging and styling utilities with extended ANSI support and trace level handling`
  package-lock.json
Due: install

remove need for reflect-no-ci
  package-lock.json
  package.json
Due: install

patch - remove need for reflect-no-ci - after release preparation
  README.md
  src/decorators.ts
  src/utils.ts
Due: none

patch - remove need for reflect-no-ci - after release preparation
  src/index.ts
Due: none

DECAF-178 - add MCP tools, templates, resources, tests, and slogan assets
  workdocs/assets/slogans.json
Due: pages

DECAF-178 - add MCP tools, templates, resources, tests, and slogan assets
  workdocs/assets/Banner.png
  workdocs/assets/apple-touch-icon.png
  workdocs/assets/decaf-logo.svg
  workdocs/assets/favicon.png
Due: pages

DECAF-178 - add MCP tools, templates, resources, tests, and slogan assets
  workdocs/1-Header.md
  workdocs/assets/slogans.json
Due: pages

DECAF-178 - add module validation, aggregation, and enforcement framework`
  workdocs/tutorials/For Developers.md
Due: pages

DECAF-178 - Add coding principles to workdocs; update MCP structure tasks and scripts`
  workdocs/5-HowToUse.md
Due: pages

DECAF-178 add TypeScript builder design pattern prompt with validation schema
  package-lock.json
Due: install

DECAF-178 update license from MIT to Mozilla Public License 2.0 with AGPL-3.0 trigger details
  package.json
Due: none

DECAF-178 update license from MIT to Mozilla Public License 2.0 with AGPL-3.0 trigger details
  workdocs/2-Badges.md
Due: pages

first bundle release-no-ci
  package-lock.json
  package.json
Due: install

minor - first bundle release-no-ci - after release preparation
  README.md
  package-lock.json
Due: install

minor - first bundle release-no-ci - after release preparation
  package-lock.json
  package.json
Due: install

minor - first bundle release-no-ci - after release preparation
  package-lock.json
Due: install

patch - first bundle release-no-ci - after release preparation
  package-lock.json
Due: install

DECAF-178 cleaner build system, first bundle release. now exports bundle size
  package-lock.json
  package.json
Due: install

DECAF-178 simplify ToolBuilder type definitions and update build scripts
  package-lock.json
Due: install

DECAF-158 improves release script
  bin/tag-release.sh
Due: none

DECAF-158 - seems to work
  src/decorators.ts
Due: none

patch - DECAF-158 minot fix for compat-no-ci - after release preparation
  src/decorators.ts
Due: none

DECAF-158 minot fix for compat-no-ci
  package-lock.json
  package.json
Due: install

DECAF-178 update for net metadata storage
  package.json
Due: none

DECAF-178 - enhance reverse-engineering tools and documentation, add Zod schema/emission stubs, update dependencies`
  package-lock.json
Due: install
