Repository decaf-ts/injectable-decorators: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

install:
  stage: dependencies
  cache:
  - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
  script:
  - npm ci --cache .npm --prefer-offline
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

pages:
  stage: deploy
  needs:
  - tests
  cache:
  - key: dependencies-$CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
  - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
    paths:
    - workdocs/coverage/
  script:
  - npm run docs
  - mv docs public
  artifacts:
    paths:
    - public
  interruptible: true
  ...

minor - DECAF-734 split types for nodenext compat-no-ci - after release preparation
  package-lock.json
  package.json
Due: install

DECAF-734 split types for nodenext compat-no-ci
  package-lock.json
  package.json
Due: install

minor - DECAF-734 split types for nodenext compat-no-ci - after release preparation
  package-lock.json
Due: install

minor - DECAF-734 no longer ships d.ts. only mts and cts for max compat-no-ci - after release preparation
  package-lock.json
Due: install

DECAF-734 no longer ships d.ts. only mts and cts for max compat-no-ci
  package-lock.json
  package.json
Due: install

DECAF-798 - version
  src/index.ts
Due: none

DECAF-798 - version
  package-lock.json
Due: install

DECAF-798 - deps
  package-lock.json
Due: install

minor - DECAF-798 deps and serialization fixes-no-ci - after release preparation
  package-lock.json
Due: install

DECAF-798 deps and serialization fixes-no-ci
  package-lock.json
  package.json
Due: install

DECAF-798 - updates for bundles
  package-lock.json
Due: install

DECAF-798 - sec update test
  .github/workflows/auto-merge-renovate.yml
  .github/workflows/bug-in-progress-workflow.yml
  .github/workflows/bug-pull-request-workflow.yml
  .github/workflows/renovate.yml
  .github/workflows/trivy-scan.yml
  renovate.json
Due: none

DECAF-187 - reusable-workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/jest-coverage.yaml
  .github/workflows/nodejs-build-prod.yaml
  .github/workflows/pages.yaml
  .github/workflows/publish-on-release.yaml
  .github/workflows/release-on-merge-pr.yml
  .github/workflows/release-on-tag.yaml
  .github/workflows/snyk-analysis.yaml
Due: none

DECAF-809 - update
  package-lock.json
Due: install

DECAF-809 - update logging
  package-lock.json
Due: install

DECAF-809 - updates
  package-lock.json
Due: install

DECAF-809 - vulns
  package-lock.json
  package.json
Due: install

DECAF-809 - many updates - skills, infra, relese scripts, etc ci
  bin/tag-release.sh
Due: none

minor - DECAF-809 decoration fixes [skip ci] - after release preparation
  package-lock.json
Due: install

DECAF-809 decoration fixes [skip ci]
  package-lock.json
  package.json
Due: install

ci: adopt reusable-actions shared workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/jest-coverage.yaml
  .github/workflows/nodejs-build-prod.yaml
  .github/workflows/pages.yaml
  .github/workflows/publish-on-release.yaml
  .github/workflows/release-on-merge-pr.yml
  .github/workflows/release-on-tag.yaml
  .github/workflows/renovate.yml
  .github/workflows/snyk-analysis.yaml
  .github/workflows/trivy-scan.yml
  package.json
Due: none

ci: adopt reusable-actions shared workflows (#13)
  .github/workflows/codeql-analysis.yml
  .github/workflows/jest-coverage.yaml
  .github/workflows/nodejs-build-prod.yaml
  .github/workflows/pages.yaml
  .github/workflows/publish-on-release.yaml
  .github/workflows/release-on-merge-pr.yml
  .github/workflows/release-on-tag.yaml
  .github/workflows/renovate.yml
  .github/workflows/snyk-analysis.yaml
  .github/workflows/trivy-scan.yml
  package.json
Due: none

ci: drop coverage-threshold caller input; align jest coverage limits with measured coverage
  .github/workflows/jest-coverage.yaml
  workdocs/reports/jest.coverage.config.cjs
Due: pages

fix: remove dangling empty 'with:' left by input removal
  .github/workflows/jest-coverage.yaml
Due: none

ci: jest config is the sole coverage gate (#14)
  .github/workflows/jest-coverage.yaml
  workdocs/reports/jest.coverage.config.cjs
Due: pages

ci: adopt reusable-actions shared workflows
  .github/workflows/auto-merge-renovate.yml
  .github/workflows/bug-in-progress-workflow.yml
  .github/workflows/bug-pull-request-workflow.yml
Due: none

ci: auto-merge only on renovate PRs
  .github/workflows/auto-merge-renovate.yml
Due: none

ci: user-triggerable scans with inputs; dependabot auto-merge
  .github/workflows/auto-merge-renovate.yml
  .github/workflows/snyk-analysis.yaml
  .github/workflows/trivy-scan.yml
Due: none

DECAF-809 - updates tag_release
  bin/tag-release.sh
Due: none

DECAF-809 - with-ai updates
  package-lock.json
Due: install

Path conditions:
  install: any of: package-lock.json
  pages: any of: workdocs/**/*
